# THIS SHOULD BE THE FIRST FILE OPENED AND RUNNED!

# Make sure to have Python 3.10+ for this to work because I didn't and had to upgrade to make sure these versions were availible


#Run these 3 in the folder with my code (make sure you are outside all of these folders and not in any like src or data or anything:

# 1. conda create -n imdb-rnn python=3.10 -y
# 2. conda activate imdb-rnn
# 3. pip install -r requirements.txt
 
# Might also get a few numpy warnings, so stackoverflow told me to use this on terminal once ur already in the conda above:


torch==2.2.2
pandas==2.3.3
numpy==1.26.4
scikit-learn==1.5.2
matplotlib==3.8.4
tqdm==4.66.4
